<table class="mcnBoxedTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
  <!--[if gte mso 9]>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
	<![endif]-->
	 <tbody class="mcnBoxedTextBlockOuter">
	   <tr>
	     <td class="mcnBoxedTextBlockInner" valign="top">

	       <!--[if gte mso 9]>
		   <td align="center" valign="top" ">
		     <![endif]-->
		      <table style="min-width:100%;" class="mcnBoxedTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
			<tbody><tr>

			    <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

			      <table class="mcnTextContentContainer" style="min-width: 100% !important;background-color: #F5F3F2;" width="100%" cellspacing="0" border="0">
				<tbody><tr>
				    <td class="mcnTextContent" style="padding: 18px;color: #757171;font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, Verdana, sans-serif;font-size: 14px;font-weight: normal;text-align: left;" valign="top">
				      {{opinion}}
				    </td>
				  </tr>
			      </tbody></table>
			    </td>
			  </tr>
		      </tbody></table>
		      <!--[if gte mso 9]>
			  </td>
		   <![endif]-->

		    <!--[if gte mso 9]>
		    </tr>
      </table>
      <![endif]-->
       </td>
</tr>
</tbody>
</table>
